.root {
    -fx-padding: 30; /* Add a small padding around the window */
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-background-color: rgb(156, 156, 156);
}

Button {
    -fx-padding: 10;
    -fx-font-size: 12;
    /* -fx-min-height: 60;
    -fx-max-height: 60; 
    -fx-min-width: 60; 
    -fx-max-width: 200;  */
}

Label {
    -fx-text-fill: rgb(255, 255, 255);
    /* -fx-padding: 15; */
    -fx-font-size: 15; 
    /* -fx-min-width: 60;  */
    /* -fx-min-height: 90; */
    -fx-font-weight: bold;
}

Pane {
    
}

HBox {
    justify-content: space-between;
    -fx-spacing: 95;
    -fx-max-height: 10;
}

VBox {
    /* -fx-spacing: 30;
    -fx-padding: 30; */
}