.root {
    -fx-padding: 10; /* Add a small padding around the window */
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-background-color: rgb(255, 255, 255);
}

.btn-OceanGrid{
    -fitHeight: 50;
    -fitWidth: 50;  
    -pickOnBounds: true;
    -preserveRatio: true;
}

Label {
    -fx-padding: 15;
    -fx-font-size: 30; 
    -fx-min-width: 60; 
    -fx-min-height: 90;
    -fx-font-weight: bold;
}

Button {
    -fx-padding: 15;
    -fx-font-size: 20;
    -fx-min-height: 60;
    -fx-max-height: 60; 
    -fx-min-width: 60; 
    -fx-max-width: 200; 
}

VBox {
    -fx-spacing: 10;
    -fx-padding: 10;
    /* -fx-alignment: center; */
}